/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Contenedor del dashboard */
.dashboard {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #388e3c;
    margin-bottom: 20px;
}

/* Botones de los módulos */
.modules {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.module-btn {
    background-color: #81c784;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    flex: 1 1 calc(33.33% - 20px);
    max-width: 150px;
    text-align: center;
}

.module-btn:hover {
    background-color: #66bb6a;
}

/* Contenedor de la tabla */
#table-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

#table-title {
    margin-bottom: 15px;
    color: #388e3c;
    font-size: 20px;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

thead {
    background-color: #388e3c;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilos para la pantalla de Login */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f7f9f4; /* Fondo claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 350px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #388e3c; /* Verde agrícola */
}

.login-box p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #555;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-group input:focus {
    border-color: #388e3c;
    outline: none;
}

.btn {
    display: inline-block;
    background-color: #388e3c;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2e7d32;
}

.btn:active {
    transform: scale(0.98);
}
